using AutoMapper;
using {DataNamespace};
using {ApiNamespace}.DTO;

namespace {ApiNamespace}
\{
    partial class MappingProfileApi : Profile
    \{
        public MappingProfileApi()
        \{
            {for EntityName in EntityNames:
            CreateMap<{EntityName}, {EntityName}DTO>();
            CreateMap<{EntityName}DTO, {EntityName}>();
            }
            {if MappingHasCustom:CustomMaps();}
        \}
        {if MappingHasCustom:partial void CustomMaps();}
    \}
\}